

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.me {
  height: 700px;
  width: 100%;

  background: url(../assets/images/2.jpg);
  background-size: cover;
}

.hed{
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 4px;
  
  text-align: center;
}

.hed h4{
  font-size: 25px;
}






/*
@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}*/
